psycopg2-binary
psutil
amqp
billiard
celery
certifi
chardet
cheroot
backports.functools_lru_cache
djangorestframework
jaraco.functools
python-dateutil
more-itertools
pipdeptree
setuptools
zc.lockfile
dnspython
eventlet
greenlet
requests
sqlparse
tempora
urllib3
monotonic
tornado
flower
Django
kombu
portend
pytz
Babel
six
vine
idna
openpyxl
gunicorn
pillow
redis

